[ -n "${DEBUG}" ] && echo '... starting .aliases';

alias -- \
    +r='chmod +r' \
    +w='chmod +w' \
    +x='chmod +x' \
    -='cd -' \
    ..='cd ..' \
    @='setxtermsize' \
    bye='exit' \
    du='du -k | sort -n' \
    e='enscript -2rG -P' \
    g='git' \
    l='ls -CF' \
    la='ls -aCF' \
    ll='ls -lF' \
    lla='ls -alF' \
    llar='ls -alrF' \
    llr='ls -lrF' \
    lr='ls -rCF' \
    m='mutt' \
    p='lpr -P' \
    q='lpq -P' \
    pull_all='git checkout master; git pull; git checkout ui; git pull; git checkout qa; git pull; git checkout prod; git pull; git checkout master' \
    push_master='cd /web/gilt; git checkout master; git pull origin master; git push origin master' \
    push_prod='cd /web/gilt; git checkout prod; git pull origin prod; git merge qa; git push origin prod; git checkout master' \
    push_qa='cd /web/gilt; git checkout qa; git pull origin qa; git merge master; git push origin qa; git checkout master' \
    push_ui='cd /web/gilt; git checkout ui; git pull origin ui; git merge master; git push origin ui; git checkout master' \
    re='rm -rf *~' \
    rs='resize' \
    rt="echo -ne \'\\033c\'" \
    s='ssh -x' \
    scp='scp -p' \
    sx='ssh -AX' \
    t="cat /dev/null > log/development.log && for i in log/thin*.log; do cat /dev/null > \$i; done && thin --config config/environments/${RAILS_ENV}/thin.yml" \
    vi="${EDITOR}" \
    xe='xemacs' \
# leave this line to swallow the \ at the end of the previous line

case "${SYSTEM}" in
Darwin*)
    alias -- \
        ps='ps -avwwx' \
        top='top -orsize -Ocpu' \
# leave this line to swallow the \ at the end of the previous line
    ;;
Linux*)
    alias -- \
        df='df -kl' \
        ps='ps -ef' \
        top='top -d 1' \
# leave this line to swallow the \ at the end of the previous line
    ;;
SunOS*)
    alias -- \
        df='df -kl' \
        ps='ps -aux' \
        top='top -s 1' \
# leave this line to swallow the \ at the end of the previous line
    ;;
esac

[ -n "${DEBUG}" ] && echo '... ending .aliases';

# vim:ft=sh:
