[ -n "${DEBUG}" ] && echo '... starting .aliases';

alias -- \
    -='cd -' \
    ..='cd ..' \
    du='du -k | sort -n' \
    e='enscript -2rG -P' \
    l='ls -CFG' \
    la='ls -aCFG' \
    ll='ls -lFG' \
    lla='ls -alFG' \
    llar='ls -alrFG' \
    llr='ls -lrFG' \
    lr='ls -rCFG' \
    re='rm -rf *~' \
    rt="echo -ne \'\\033c\'" \
    s='ssh -x' \
    scp='scp -p' \
    sx='ssh -AX' \
    vi="${EDITOR}" \
    xe='xemacs' \
# leave this line to swallow the \ at the end of the previous line

case "${SYSTEM}" in
Darwin*)
    alias -- \
        ps='ps -avwwx' \
        top='top -orsize -Ocpu' \
# leave this line to swallow the \ at the end of the previous line
    ;;
Linux*)
    alias -- \
        df='df -kl' \
        ps='ps -ef' \
        top='top -d 1' \
# leave this line to swallow the \ at the end of the previous line
    ;;
esac

[ -n "${DEBUG}" ] && echo '... ending .aliases';
