[ -n "${DEBUG}" ] && echo "... starting .functions";

function d() { sdiff -w 160 $1 $2 | less; }

function getHostname() { echo `hostname | cut -d. -f1`; }

function getTTY() { echo `tty | sed 's@/dev/@@'`; }

if [ -z "${XSESSION}" ]
then
    function logout() { end_session && exit; }
else
    function logout() { kill -HUP ${XSESSION} && exit; }
fi

function pman() { man -t "$@" | open -f -a Preview; }

function renameXterm() { renameXwindow "`getHostname` `getTTY`"; }

function renameXwindow() {
    echo -ne "\033]2;$1\007";
    echo -ne "\033]0;$1\077";
}

function setenv() { export ${1}=${2}; }

function xresize() { set -f; eval "$( resize -u )"; set +f; }

[ -n "${DEBUG}" ] && echo "... ending .functions";
