[ -n "${DEBUG}" ] && echo "... starting .functions";

function d() { sdiff -w 160 $1 $2 | less; }

function getHostname() { echo `hostname | cut -d. -f1`; }

function pman() { man -t "$@" | open -f -a Preview; }

[ -n "${DEBUG}" ] && echo "... ending .functions";
