[user]
	email = yfeldman@gilt.com
	name = Yonatan Feldman
[alias]
	a = add -A
	cam = commit -a -m
	ci = commit -v
	cim = commit -m
	co = checkout
	cp = cherry-pick -x
	d = diff --full-index --ignore-all-space --word-diff
	l = log -c --no-merges
	lp = log -c -p --full-index --ignore-all-space --no-merges
	ls = log -c --no-merges --stat
	me = merge
	pl = pull
	ps = push
        rtag = !git tag r`date \"+%Y-%m-%d-%H%M%S\"`
	s = status
[color]
	ui = auto
[core]
	autocrlf = input
[github]
	user = yon
	token = cab8316b802277f7e8fb1817862c1493
[push]
	default = tracking
