[alias]
	a = add -A
	cam = commit -a -S -m
	ci = commit -v -S
	cim = commit -S -m
	co = checkout
	cp = cherry-pick -x
	d = diff --full-index
	l = log -c --no-merges --show-signature
	lp = log -c -p --full-index --ignore-all-space --no-merges --show-signature
	ls = log -c --no-merges --stat --show-signature
	me = merge
	pl = pull
	ps = push
        rtag = !git tag r`date \"+%Y-%m-%d-%H%M%S\"`
	s = status
        tree = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
[core]
	autocrlf = input
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = current
[rerere]
	enabled = true
[user]
	name = Yonatan Feldman
	signingkey = A3EEC242
