[alias]
	# Basic shortcuts
	a = add -A
	cam = commit -a -m
	ci = commit -v
	cim = commit -m
	co = checkout
	cp = cherry-pick -x
	d = diff --full-index
	s = status

	# Enhanced logging
	l = log -c --no-merges --show-signature
	lp = log -c -p --full-index --ignore-all-space --no-merges --show-signature
	ls = log -c --no-merges --stat --show-signature
	tree = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	recent = log --oneline --decorate -10

	# Branch operations
	b = branch
	ba = branch -a
	bd = branch -d
	bD = branch -D
	sw = switch
	swc = switch -c

	# Merge and rebase
	me = merge
	rb = rebase
	rbi = rebase -i

	# Remote operations
	pl = pull
	ps = push
	psu = push -u origin HEAD
	f = fetch --all --prune

	# Diff improvements
	dt = difftool
	ds = diff --staged
	dn = diff --name-only

	# Stash operations
	st = stash
	stp = stash pop
	stl = stash list

	# Useful utilities
	rtag = !git tag r`date \"+%Y-%m-%d-%H%M%S\"`
	unstage = reset HEAD --
	discard = checkout --
	amend = commit --amend
	fixup = commit --fixup
	squash = commit --squash

	# Find commits
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep

	# Show what I did today
	today = log --since=\"6am\" --oneline --author=\"Yonatan Feldman\"
[branch]
	autoSetupMerge = always
	autoSetupRebase = always
[color]
	ui = auto
[commit]
	gpgsign = true
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = less -R
	precomposeunicode = true
	quotepath = false
	whitespace = trailing-space,space-before-tab,tab-in-indent
[credential]
	# Use GitHub CLI's credential manager for secure authentication
	# Setup with: gh auth setup-git
	helper = cache --timeout=3600
[diff]
	algorithm = histogram
	colorMoved = default
	tool = vimdiff
[fetch]
	prune = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/yon/.ssh/allowed_signers
[help]
	autocorrect = 1
[include]
	path = ~/.gitconfig-local
[init]
	defaultBranch = main
[log]
	date = relative
[merge]
	conflictstyle = diff3
	tool = vimdiff
[pull]
	rebase = true
[push]
	default = current
[rebase]
	autoSquash = true
	autoStash = true
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
[user]
	email = yon@milliped.com
	name = Yonatan Feldman
	signingkey = /Users/yon/.ssh/id_ecdsa_sk_rk.pub
